
@import "normalize.css/normalize.css";

html{
    font-size: 62.5%;
}

body{
    font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
    body{
        font-size: 1.25rem;
    }
}

/* navbar */

.navbar{
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .navbar{
        bottom: initial;
    }
}

.navItems{
    width: 100%;
    white-space: nowrap;
    justify-content: space-around;
}

@media screen and (min-width: 768px) {
    .navItems{
        display: flex;
        justify-content: flex-end;
    }
    .searchNav{
        margin: auto 5rem;
    }
}

.navIcon{
    font-size: 1.7rem;
    text-align: center;
}

/* logo */
.logo{
    white-space: nowrap;
    font-size: x-large;
    font-weight: bolder;
}

@media screen and (max-width: 768px) {
    .logo{
        display: none;
    }
}

/* market */

.market{
    max-width: 1200px;
    margin: auto;
    margin-bottom: 6rem;
}

@media screen and (min-width: 768px) {
    .market, .search, .myShop{
        padding-top: 8rem !important;
    }
}

.grid{
    display: grid;
}

.grid-1x2{
    grid-template-columns: repeat(2, 1fr)
}

@media screen and (min-width: 768px) {
    .grid-1x3{
        grid-template-columns: repeat(3, 1fr)
    }
}

@media screen and (min-width: 992px) {
    .grid-1x4{
        grid-template-columns: repeat(4, 1fr)
    }
}



.card {
    overflow: hidden;
}

.card img{
    height: 100%;
    width: 100%;
}

.good-title{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;  
}

/* search */

.search{
    text-align: center;
    padding: 1rem;
}

.search h1{
    font-size: x-large;
    font-weight: 450;
    margin-top: 4rem;
}


.input-group{
    border: 1px solid lightgray;
    display: flex;
    white-space: nowrap;
    font-size: 1.4rem;
    padding: 0.8rem;
    border-radius: 20px;
    overflow: hidden;
    max-width: 700px;
    margin: auto;
}

.search input {
    border: 0;
    outline: 0;
    flex-grow: 1;
}

.search button{
    background: lightgray;
    border: 0;
    outline: 0;
    margin: -1rem;
    padding: 1rem;
}

